# Some node shit
Exercise1/node_modules
Exercise1/package-lock.json

# All real configuration files in .gitignore, leave them only with *-example
Exercise1/config/.env


# All logs
Exercise1/mosquitto/log/mosquitto.log
Exercise1/mosquitto/data/mosquitto.db

# Ignore certs
Exercise1/certs/cert.pem
Exercise1/certs/key.pem